$generalBlue: #0d385b;
$cardHeaderGreen: #045635;

.items {
  overflow-y: scroll;
}

.items .itemWrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.items .item {
  border: 1px solid $generalBlue;
  border-radius: 5px;
  width: 90%;
  margin: 5px;
  color: white;
}

.items .card-header {
  background: $cardHeaderGreen;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.items .card-bottom {
  background: $generalBlue;
  padding: 5px;
}

.items .freeTextWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.items .card-header-right, .card-header-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 7px;
  p {
    margin: 3px;
    font-size: 18px;
  }
}

.items .card-header-left {
  align-items: flex-start;
}

.items .card-header-right {
  align-items: flex-end;
}

.items .freeTextWrap {
  color: black;
  transition: height 0.5s;
}