$generalBlue: #0d385b;
$cardHeaderGreen: #045635;

.post {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


.post .postInputs {
  margin: 5px;
  width: 100px;
  display: inline;
}

.post .list {
  position: relative;
  z-index: 1;
}

.post .list {
  display: flex;
  justify-content: center;
}

.post ul {
  //border: 1px solid red;
  display: inline-block;
  position: absolute;
  top: 25px;
  background: white;
  width: 100%;
}

.post li {
  list-style-type: none;
  color: grey;
}

.card {
  color: white;
}

.card-header {
  background: $cardHeaderGreen;
  text-align: left;
}

.card-bottom {
  background: $generalBlue;
  padding: 5px;
}

.post #submitButton {
  margin: 4px;
}















