

.post {
  height: 40vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.postInputs {
  margin: 5px;
  width: 100px;
  display: inline;
}

.post .list {
  position: relative;
  z-index: 1;
}

.listWrap {
  display: inline-block;
}

.list {
  display: flex;
  justify-content: center;
}

.post ul {
  display: inline-block;
  position: absolute;
  top: 20px;
  background: white;
  width: 200px;
  margin-right: auto;
}

li {
  list-style-type: none;
}

.inputWrappers {
  padding: 3px;
  text-align: end;
  margin-top: 2px;
}

form {
  text-align: end;
  max-width: 400px;
}

input {
  width: 200px;
}

select{
  width: 203px;
}

textarea {
  width: 202px;
}

.post #submitButton {
  position: relative;
  left: -2px;
  width: 205px;
}