
.post {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


.post .postInputs {
  margin: 5px;
  width: 100px;
  display: inline;
}

.post .list {
  position: relative;
  z-index: 1;
}

.post .listWrap {
  display: inline-block;
}

.post .list {
  display: flex;
  justify-content: center;
}

.post ul {
  display: inline-block;
  position: absolute;
  top: 20px;
  background: white;
  width: 200px;
  margin-right: auto;
}

.post li {
  list-style-type: none;
}
