* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header img {
  animation: App-logo-spin infinite 10s linear;
  height: 15vh;
}

.App-header {
  background-color: #222;
  height: 20vh;
  padding: 20px;
  color: white;
}
h2 {
  display: inline;
  margin: 5vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* above: header */

.mainApp {
  height: 80vh;
  display: flex;
  flex-flow: row no-wrap;
  align-content: stretch;
  align-items: stretch;

  justify-content: space-around; /*flex-start | flex-end | center | space-between | space-around*/
}

.mainApp div {
  flex: 1;
}